<!-- NAVBAR -->
<div class="nav">
    <div class="main">
        <a href="/">Fitness App</a>
    </div>

    <div class="logo">
        <img src="/img/white_logo.png" alt="">
    </div>

    <div class="links">
        <a href="/login">login</a>
        /
        <a href="/register">register</a>
    </div>
</div>