<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Fitness App</title>

    <link rel="stylesheet" href="/styles/login.css">

    <%- include('partials/includes.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="form">
            <h1>Login</h1>
    
            <form action="/login" method="POST">
                <div class="email">
                    <input type="text" placeholder="Email: " name="email" required>
                </div>
        
                <div class="password">
                    <input type="password" placeholder="Password: " name="password" required>
                </div>
        
                <button type="submit">Login</button>
            </form>

            <div class="register">
                <a href="/register">Register</a>
            </div>
        </div>
    </div>
</body>
</html>