<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User define - Fitness App</title>

    <link rel="stylesheet" href="/styles/user_define.css">

    <%- include('partials/includes.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <div class="container">
        <div class="form">
            <h1>Getting started</h1>

            <form action="/user_define" method="POST">
                <div class="height">
                    <input type="number" name="height" placeholder="Height in CM: " required>
                </div>
        
                <div class="weight">
                    <input type="number" name="weight" placeholder="Weight in KG: " required>
                </div>
        
                <div class="schedule">
                    <input type="number" name="schedule" placeholder="Workouts per week: " required>
                </div>
        
                <button type="submit">Continue</button>
            </form>
        </div>
    </div>
</body>
</html>