.menu {
    width: 60%;
    margin: 2rem auto 0 auto;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #227cc0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.459);
}

.menu .title {
    padding: .5rem 0;
    color: whitesmoke;
    background-color: #003F75;
}

.menu .title h2 {
    display: inline-block;
    margin: .4rem 0;
    padding: 0 .8rem;
    font-weight: 500;
    border-bottom: 1px solid rgba(245, 245, 245, 0.507);
}

.menu .title button {
    width: 5rem;
    color: whitesmoke;
    background-color: #2477b6;
}

.menu .title button:hover {
    background-color: #2477b6a6 !important;
}

.menu .meal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    margin-bottom: 15vh;
    color: rgb(224, 224, 224);
}

.menu .meal h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(233, 233, 233, 0.493);
}

.menu .meal img {
    cursor: pointer;
}

.menu .meal #left-arrow {
    visibility: hidden;
}

.menu a {
    color: whitesmoke;
    font-size: .9rem;
    font-weight: 400;
    text-decoration: underline;
}

@media (max-width: 630px) {
    .menu {
        width: 70%;
    }

    .menu .meal img {
        width: 1rem;
    }
}