.profile {
    text-align: center;
}

.profile .profile-card {
    width: 65%;
    display: inline-block;
    margin-top: 5rem;
    padding: 0 3.5rem;
    text-align: center;
    box-shadow: 1px 1px 10px #000000;
    color: whitesmoke;
    background-color: rgba(248, 246, 246, 0.863);
}

.profile .profile-card img {
    width: 12rem;
    height: 12rem;
    margin: 3rem 0 2rem 0;
}

.profile .profile-card .section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile .profile-card .section .field {
    display: flex;
    align-items: center;
    width: 50%;
    margin: .5rem 0;
    padding: 5px 1rem;
    border-left: .4rem solid #236ca3;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.363);
}

.profile .profile-card .section .field input {
    padding: 0 3rem 0 1rem;
    font-size: 16px;
    color: whitesmoke;
    background: none;
    border: none;
    outline: none;
}

.profile .profile-card button {
    margin: 2rem 1rem;
    width: 10rem;
    height: 2.5rem;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 500;
    background-color: #236ca3;
}