.container {
    width: 100%;
    text-align: center;
}

.form {
    display: inline-block;
    margin-top: 10vh;
    background-color: #4996da;
    padding: 3vh 0 0 0;
    width: 40%;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.315);
}

.form h1 {
    margin-bottom: 2vh;
    color: white;
    font-weight: 400;
}

.form input {
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
    width: 60%;
    padding: .8vh 0 .8vh .3vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
}

.form button {
    padding: 1.2vh 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
    width: 60%;
    cursor: pointer;
    border: none;
    background-color: #003F75;
    color: white;
}

.form .login {
    margin: 10vh 0 3vh 0;
    color: white;
}


@media (max-width: 1200px) {
    .form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .form {
        width: 80%;
    }

    .form input {
        width: 70%;
    }

    .form button {
        width: 70%;
    }
}